body {
    font-family: Helvetica, Verdana, sans-serif;
}

.components {
    position: relative;
    height: 10em;
    background-color: rgb(240, 240, 240);
}

.component {
    position: absolute;
    overflow: visible;
    width: 0;
    height: 0;
    display: inline-block;
}

.register {
    border: 1px solid rgb(30, 30, 30);
    background-color: rgba(200, 200, 200, 30);
    border-radius: 0.4em;
    padding: 0.3em;
    display: inline-block;
}

.register input {
    width: 4em;
    margin: 0;
    background-color: rgba(200, 200, 200, 255);
    border: 0 solid rgba(200, 200, 200, 255);
    font-family: monospace;
    color: rgb(0, 0, 0);
    text-align: center;
}

.register .connection {
    border: 1px solid rgb(30, 30, 30);
    background-color: rgba(200, 200, 200, 30);
    min-width: 0.8em;
    text-align: center;
    border-radius: 0.2em;
    color: rgb(0, 0, 0);
    display: inline-block;
    position: absolute;
    cursor: pointer;
}

.register .toprow {
    top: -1.4em;
}

.register .bottomrow {
    top: 1.27em;
}

.bus {
    border-color: red;
    display: inline-block;
    position: absolute;
}

.horizontal {
    border-top: 2px solid;
}

.vertical {
    border-left: 2px solid;
}

.topleft {
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 0.4em;
}

.topright {
    border-top: 2px solid;
    border-right: 2px solid;
    border-top-right-radius: 0.4em;
}

.bottomleft {
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-bottom-left-radius: 0.4em;
}

.bottomright {
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-bottom-right-radius: 0.4em;
}