body {
    font-family: Helvetica, Verdana, sans-serif;
}

.nospace {
    overflow: visible;
    width: 0;
    height: 0;
    display: inline-block;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.components {
    position: relative;
    height: 10em;
    background-color: rgb(240, 240, 240);
}

.component {
    position: absolute;
}

.register {
    border: 1px solid rgb(30, 30, 30);
    background-color: rgba(200, 200, 200, 30);
    border-radius: 0.4em;
    padding: 0.3em;
    display: inline-block;
    height: 1.15em;
    line-height: 1.1em;
}

.register input {
    width: 4em;
    margin: 0;
    background-color: rgba(200, 200, 200, 255);
    border: 0 solid rgba(200, 200, 200, 255);
    font-family: monospace;
    color: rgb(0, 0, 0);
    text-align: center;
}

.register .connection {
    border: 1px solid rgb(30, 30, 30);
    min-width: 0.8em;
    height: 1.2em;
    line-height: 1.1em;
    text-align: center;
    border-radius: 0.2em;
    color: rgb(0, 0, 0);
    display: inline-block;
    position: absolute;
    cursor: pointer;
}

.register .toprow {
    top: -1.4em;
}

.register .bottomrow {
    top: 1.27em;
}

.bus-type {
    display: inline-block;
    position: absolute;
}

.bus .horizontal {
    border-top: 2px solid;
}

.wire .horizontal {
    border-top: 1px solid rgba(200, 200, 200, 0.6);
}

.bus .vertical {
    border-left: 2px solid;
}

.wire .vertical {
    border-left: 1px solid rgba(200, 200, 200, 0.6);
}

.bus .topleft {
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 0.4em;
}

.wire .topleft {
    border-top: 1px solid rgba(200, 200, 200, 0.6);
    border-left: 1px solid rgba(200, 200, 200, 0.6);
    border-top-left-radius: 0.4em;
}

.bus .topright {
    border-top: 2px solid;
    border-right: 2px solid;
    border-top-right-radius: 0.4em;
}

.wire .topright {
    border-top: 1px solid rgba(200, 200, 200, 0.6);
    border-right: 1px solid rgba(200, 200, 200, 0.6);
    border-top-right-radius: 0.4em;
}

.bus .bottomleft {
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-bottom-left-radius: 0.4em;
}

.wire .bottomleft {
    border-bottom: 1px solid rgba(200, 200, 200, 0.6);
    border-left: 1px solid rgba(200, 200, 200, 0.6);
    border-bottom-left-radius: 0.4em;
}

.bus .bottomright {
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-bottom-right-radius: 0.4em;
}

.wire .bottomright {
    border-bottom: 1px solid rgba(200, 200, 200, 0.6);
    border-right: 1px solid rgba(200, 200, 200, 0.6);
    border-bottom-right-radius: 0.4em;
}

.busconnector {
    position: absolute;
    width: 0.3em;
    height: 0.3em;
    background-color: rgb(0, 0, 0);
}

.busconnectortoprow {
    top: -0.25em;
}

.busconnectorbottomrow {
    top: 1.31em;
}

.wireconnector {
    position: absolute;
    width: 0.2em;
    height: 0.2em;
    border-radius: 0.2em;
    border: 1px solid rgb(30, 30, 30);
    cursor: pointer;
}

.wireconnectortoprowwrite {
    top: 0.1em;
}

.wireconnectortoprowread {
    top: 0.5em;
}

.wireconnectorbottomrowwrite {
    top: 0.85em;
}

.wireconnectorbottomrowread {
    top: 0.45em;
}

.grayback {
     background-color: rgba(200, 200, 200, 30);
}

.read {
    background-color: rgb(122, 222, 103);
}

.write {
    background-color: rgb(255, 103, 97);
}

.label {
    position: absolute;
    width: auto;
    height: auto;
    padding: 0.2em;
    /*background-color: rgb(255, 255, 255);
    border-radius: 0.3em;
    border: 0.1em solid;*/
}

.switch {
    width: 1em;
    height: 1em;
    border: 1px solid rgb(30, 30, 30);
    background-color: rgba(200, 200, 200, 30);
}

.led {
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.5em;
    border: 1px solid rgb(30, 30, 30);
}