<div ng-init="author = 'Johannes Merkert'"></div>

<div>
    <div class="textwidth">
        <simulation></simulation>
    </div>
</div>

<div ng-if="language == 'de'">
    <div class="pagebar">
        <div class="textwidth">
            Die Simulation kann über den Taktgeber in der rechten unteren Ecke gestartet werden. Dort kann auch
            die Taktfrequenz in Hz eingestellt werden. Bei Frequenzen ab ca. 20 Hz kann es zu Rechenfehlern der
            Simulation kommen, da der Browser überlaset ist. Dieser Effekt entspricht dem Verhalten echter
            Prozessoren, die auch zu Fehlern neigen, wenn die Taktfrequenz über einen bestimmten Wert steigt. Bei
            der Emulation liegt diese Frequenz bei sehr niedrigen Frequenzen im bereich weniger Hz (abhängig von der
            Leistungsfähigkeit des Rechners). Bei modernen Prozessoren liegt der Wert typischerweise zwischen 1000 MHz
            und 4000 MHz.
        </div>
    </div>
</div>

<div ng-if="language == 'en'">
    <div class="pagebar">
        <div class="textwidth">
            The Simulation can be started with switch at the clock generator in the bottom right corner.
            At the clock generator the clock frequency can be adjusted in a range between one clock tick every few
            seconds to about 20 Hz. Above a certain frequency (most of the time at around 20 Hz) the simulation
            begins to produce errors and the calculations may be wrong. This behaviour is similar to real CPUs
            which also produce errors above certain frequencies. While the simulation is rather inefficient and
            starts to produce errors at relatively low frequencies (the maximum frequency you can achieve depends
            on your hardware and your browser) modern CPUs reach maximum clock frequencies between 1 and 4 GHz.
        </div>
    </div>
</div>