<div class="component nospace" ng-style="{'top': topCSS, 'left': leftCSS}">
    <div class="nospace" style="position: absolute;">
        <div class="wireconnector grayback" style="left: -4px; top: 6px;"></div>        
        <div ng-if="circle==false" class="wireconnector grayback" style="left: 18px; top: 6px;"></div>
        <div ng-if="circle" class="wireconnector grayback" style="left: 27px; top: 6px;"></div>
        <div ng-if="circle" class="negationcircle" style="left: 19px; top: 5px;"></div>
    </div>
    <div class="grayback" style="border: 1px solid rgb(0, 0, 0); width: 17px; height: 16px;">
        <span style="position: relative; top: {{ toplabel }}px; margin-left: {{ leftlabel }}px; font-size: {{ fontsize }}px;">
        {{ label }}</span>
    </div>
</div>