<div ng-click="openSelector()" ng-mousedown="$event.preventDefault();"
     ng-class="{'read': connection.state == -1, 'write': connection.state == 1, 'grayback': connection.state == 0}"
     class="connection" style="left: 1.3em;">
    <div style="position: relative; left: -50%; float: right; overflow: visible; margin: 0;">
        <div style="position: relative; left: 50%;">
            <div ng-show="(connection.state == 1 && !downwards) || (connection.state == -1 && downwards)"
                 style="position: relative; top: -0.1em;" class="unselectable">&uarr;</div>
            <div ng-show="connection.state == 0"
                 style="position: relative; top: 0.05em;" class="unselectable">&bull;</div>
            <div ng-show="(connection.state == -1 && !downwards) || (connection.state == 1 && downwards)"
                 style="position: relative; top: -0.1em;" class="unselectable">&darr;</div>
        </div>
    </div>
</div>
<div class="nospace" style="position: absolute; top: 0;">
    <div ng-class="{'busconnectortoprow': !downwards, 'busconnectorbottomrow': downwards}"
         class="busconnector" style="left: 26px;"></div>
    <div ng-hide="disableWrite"
         ng-class="{'wireconnectortoprowwrite': !downwards, 'wireconnectorbottomrowwrite': downwards}"
         class="wireconnector write" style="left: 35px;"
         ng-mousedown="activateWriteWire($event)"
         ng-mouseup="deactivateWriteWire()"></div>
    <div ng-hide="disableRead"
         ng-class="{'wireconnectortoprowread': !downwards, 'wireconnectorbottomrowread': downwards}"
         class="wireconnector read" style="left: 2.19em;"
         ng-mousedown="activateReadWire($event)"
         ng-mouseup="deactivateReadWire()"></div>
</div>
<div class="nospace" style="position: absolute; left: 12px;" ng-show="showSelector"
     ng-style="{'top': (disableWrite || disableRead) ? '-6px' : '-36px'}">
    <div class="touch-button" ng-class="{'write': !downwards, 'read': downwards}"
         ng-hide="(disableWrite && !downwards) || (disableRead && downwards)"
         style="margin-bottom: -1px; border-top-left-radius: 6px; border-top-right-radius: 6px;"
         ng-click="selectTop()" ng-mousedown="$event.preventDefault()">
        <div style="position: relative; left: -50%; float: right; overflow: visible; margin: 0;">
            <div style="position: relative; left: 50%;">
                <div style="padding-top: 3px;" class="unselectable">&uarr;</div>
            </div>
        </div>
    </div>
    <div class="touch-button grayback" ng-click="selectMiddle()" ng-mousedown="$event.preventDefault()">
        <div style="position: relative; left: -50%; float: right; overflow: visible; margin: 0;">
            <div style="position: relative; left: 50%;">
                <div style="padding-top: 6px;" class="unselectable">&bull;</div>
            </div>
        </div>
    </div>
    <div class="touch-button" ng-class="{'write': downwards, 'read': !downwards}"
         ng-hide="(disableRead && !downwards) || (disableWrite && downwards)"
         style="margin-top: -1px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;"
         ng-click="selectBottom()" ng-mousedown="$event.preventDefault()">
        <div style="position: relative; left: -50%; float: right; overflow: visible; margin: 0;">
            <div style="position: relative; left: 50%;">
                <div style="padding-top: 2px;" class="unselectable">&darr;</div>
            </div>
        </div>
    </div>
</div>