<div class="component nospace" ng-style="{'top': topCSS, 'left': leftCSS}">
    <div class="nospace" style="position: absolute;">
        <div class="wireconnector grayback" style="left: 1.27em; top: 0.05em;"></div>
        <div class="wireconnector grayback" style="left: 1.27em; top: 0.75em;"></div>
        <div class="wireconnector grayback" style="left: -0.28em; top: 0.4em;"></div>
    </div>
    <div style="border: 1px solid rgb(0, 0, 0); width: 1.2em; height: 1em; overflow: hidden;">
        <span style="margin-left: 0.1em;">&ge;1</span>
    </div>
</div>