<div class="component nospace" ng-style="{'top': topCSS, 'left': leftCSS}">
    <div class="bitregister" ng-style="{'height': (getBits().length * 12) + 'px'}">
        <div style="width: 0; height: 0; overflow: visible; display: inline-block; position: absolute;">
            <div style="position: absolute; top: -22px; left: -19px;">
                <gate-read-flank-write-state connection="wideBusConnection"></gate-read-flank-write-state>
            </div>
            <div style="position: absolute; top: 0; left: 0;">
                <bit-gate-state connection="bitConnection" count="getBits().length"></bit-gate-state>
            </div>
        </div>
        <div ng-repeat="bit in getBits() track by $index"
             style="padding: 0; margin: 0; height: 12px; cursor: pointer; position: absolute;"
             ng-style="{'top': ($index * 12 + 6) + 'px'}">
            <div style="display: inline-block; margin: 0; width: 10px; font-family: monospace; font-size: 13px; position: absolute; left: -1px;"
                 ng-style="{'color': (bit) && (register.bitWiresConnection.state == 1) ? 'rgb(255, 0, 0)' : 'rgb(0, 0, 0)'}"
                 ng-mousedown="toggleBit($index)"
                 class="unselectable">{{ bit }}</div>
            <div style="display: inline-block; margin: 0; padding-left: 2px; width: 10px; font-family: monospace; font-size: 13px; color: rgba(0, 0, 0, 0.5); text-align: right; position: absolute; left: 9px;"
                 ng-mousedown="toggleBit($index)"
                 class="unselectable">{{ $index }}</div>
        </div>
        <div style="width: 0; height: 0; display: inline-block; position: absolute;" ng-transclude></div>
    </div>
</div>