<div class="component" ng-style="{top: topCSS, left: leftCSS}">
    <div class="register">
        <div style="width: 0; height: 0; overflow: visible; display: inline-block; position: absolute;"
             ng-repeat="connection in connections">
            <div ng-click="toggleState(connection)"
                 ng-class="{connection: true, toprow: $even, bottomrow: $odd}"
                 style="left: 1.3em;">
                <div ng-show="(connection.state == 1 && $even) || (connection.state == -1 && $odd)"
                     style="position: relative; top: -0.1em; left: 0.01em;">&uarr;</div>
                <div ng-show="connection.state == 0"
                     style="position: relative; top: 0.05em; left: 0.01em;">&bull;</div>
                <div ng-show="(connection.state == -1 && $even) || (connection.state == 1 && $odd)"
                     style="position: relative; top: -0.1em; left: 0.01em;">&darr;</div>
            </div>
        </div>
        <input type="text" ng-model="data" ng-change="setValue(data)" />
        <div style="width: 0; height: 0; display: inline-block; position: absolute;" ng-transclude></div>
    </div>
</div>