<div class="component nospace" ng-style="{'top': topCSS, 'left': leftCSS}">
    <div class="nospace" style="position: absolute;">
        <div class="wireconnector grayback" style="left: -4px; top: 5px;"></div>
        <div class="wireconnector grayback" style="left: -4px; top: 30px;"></div>
        <div class="wireconnector grayback" style="left: 31px; top: 5px;"></div>
        <div class="wireconnector grayback" style="left: 31px; top: 30px;"></div>
    </div>
    <div class="grayback" style="border: 1px solid rgb(0, 0, 0); width: 30px; height: 40px;">
        <span style="position: relative; top: {{ toplabel }}px; margin-left: {{ leftlabel }}px; font-size: {{ fontsize }}px;">
        {{ label }}</span>
    </div>
</div>