<div class="component nospace" ng-style="{'top': topCSS, 'left': leftCSS}">
    <div class="delay" ng-click="toggleShowValue()"></div>
    <div class="nospace" style="position: absolute;">
        <div class="wireconnector grayback" style="left: -4px; top: 0;"></div>
        <div class="wireconnector grayback" style="left: 17px; top: 0;"></div>
    </div>
    <div class="delay-input" ng-show="showValue">
        <div ng-show="direction == 'left'" ng-click="setDirection('right')"
             style="font-size: 30px; position: relative; top: -9px; left: 12px; line-height: 18px; max-height: 18px; overflow: hidden; cursor: pointer;">&larr;</div>
        <div ng-hide="direction == 'left'" ng-click="setDirection('left')"
             style="font-size: 30px; position: relative; top: -9px; left: 12px; line-height: 18px; max-height: 18px; overflow: hidden; cursor: pointer;">&rarr;</div>
        <input type="text" ng-model="delay" />
    </div>
</div>