<div class="component nospace" ng-style="{'top': topCSS, 'left': leftCSS}">
    <div class="nospace" style="position: absolute;">
        <div class="wireconnector grayback" style="left: 18px; top: 1px;"></div>
        <div class="wireconnector grayback" style="left: 18px; top: 12px;"></div>
        <div class="negationcircle" style="left: -8px; top: 5px;"></div>
        <div class="wireconnector grayback" style="left: -12px; top: calc(6px + 0.5pt);"></div>
    </div>
    <div class="grayback" style="border: 1px solid rgb(0, 0, 0); width: 17px; height: 16px; overflow: hidden;">
        <span style="position: relative; top: -4px; margin-left: 2px; font-size: 14px;">&ge;1</span>
    </div>
</div>