<div class="component nospace" ng-style="{'top': topCSS, 'left': leftCSS}">
    <div class="nospace" style="position: absolute;">
        <div class="wireconnector grayback" style="left: 11px; top: 1px;"></div>
        <div class="wireconnector grayback" style="left: 11px; top: 12px;"></div>
        <div class="wireconnector grayback" style="left: -4px; top: 6px;"></div>
    </div>
    <div style="border: 1px solid rgb(0, 0, 0); width: 10px; height: 16px;">
        <span style="position: relative; top: -4px; margin-left: 2px; font-size: 14px;">&amp;</span>
    </div>
</div>