<div class="component nospace" ng-style="{'top': topCSS, 'left': leftCSS}">
    <div class="nospace" style="position: absolute;">
        <div class="busconnector" style="left: 6px; top: -5px;"></div>
        <div class="wireconnector grayback" style="left: 6px; top: 17px;"></div>
    </div>
    <div style="border: 1px solid rgb(0, 0, 0); width: 15px; height: 16px; overflow: hidden;"
         ng-style="{'background-color': color}">
        <span style="position: relative; top: -4px; margin-left: 2px; font-size: 14px;">=0</span>
    </div>
</div>