<div class="component nospace" ng-style="{'top': topCSS, 'left': leftCSS}">
    <div class="bitregister" ng-style="{'height': (getBits().length * 12) + 'px'}">
        <div style="width: 0; height: 0; overflow: visible; display: inline-block; position: absolute;">
            <div ng-click="toggleState()"
                 class="connection"
                 ng-class="{'read': register.state == -1, 'write': register.state == 1, 'grayback': register.state == 0}"
                 style="left: 4px;">
                <div ng-show="register.state == 1"
                     style="position: relative; top: -0.1em; left: 0.01em;" class="unselectable">&uarr;</div>
                <div ng-show="register.state == 0"
                     style="position: relative; top: 0.05em; left: 0.01em;" class="unselectable">&bull;</div>
                <div ng-show="register.state == -1"
                     style="position: relative; top: -0.1em; left: 0.01em;" class="unselectable">&darr;</div>
            </div>
            <div class="nospace" style="position: absolute;">
                <div class="busconnector"
                     style="position: absolute; left: 9px; top: -26px;"></div>
                <div class="wireconnector write"
                     style="position: absolute; left: 18px; top: -20px;"
                     ng-mousedown="activateWriteWire()"
                     ng-mouseup="deactivateWriteWire()"></div>
                <div class="wireconnector read"
                     style="position: absolute; left: 18px; top: -13px;"
                     ng-mousedown="activateReadWire()"
                     ng-mouseup="deactivateReadWire()"></div>
                <div ng-repeat="bit in getBits() track by $index"
                     class="wireconnector grayback" style="left: -10px;"
                     ng-style="{'top': ($index * 12 + 4) + 'px'}"
                     ng-mousedown="activateBit($index)" ng-mouseup="deactivateBit($index)"></div>
            </div>
        </div>
        <div ng-repeat="bit in getBits() track by $index"
             style="padding: 0; margin: 0; height: 12px; cursor: pointer; position: absolute;"
             ng-style="{'top': ($index * 12 + 7) + 'px'}"
             ng-mousedown="register.setBit($index, (register.getBit($index) + 1) % 2)">
            <div style="display: inline-block; margin: 0; width: 10px; font-family: monospace; position: absolute; left: 0;"
                 class="unselectable">{{ bit }}</div>
            <div style="display: inline-block; margin: 0; padding-left: 2px; width: 10px; font-family: monospace; color: rgba(0, 0, 0, 0.5); text-align: right; position: absolute; left: 10px;"
                 class="unselectable">{{ $index }}</div>
        </div>
        <div style="width: 0; height: 0; display: inline-block; position: absolute;" ng-transclude></div>
    </div>
</div>