<div class="component nospace" ng-style="{'top': topCSS, 'left': leftCSS}">
    <div class="nospace" style="position: absolute;">
        <div ng-click="toggleShowStatement()" class="filter"
             style="top: -7px; width: 20px; padding: 3px 0 2px 1px; cursor: pointer;">f(n)</div>
        <div class="wireconnector grayback" style="left: -4px; top: 5px;"></div>
        <div class="wireconnector grayback" style="left: 22px; top: 5px;"></div>
    </div>
    <div class="nospace" ng-show="showStatement"
         style="position: absolute; left: -57px; top: 14px; z-index: 1000;">
        <div class="filter filteredit" style="overflow: hidden;">
            <div ng-show="direction == 'left'" ng-click="setDirection('right')"
                 style="font-size: 400%; position: relative; top: -7px; left: 52px; line-height: 16px; max-height: 16px; overflow: hidden; cursor: pointer;">&larr;</div>
            <div ng-hide="direction == 'left'" ng-click="setDirection('left')"
                 style="font-size: 400%; position: relative; top: -7px; left: 52px; line-height: 16px; max-height: 16px; overflow: hidden; cursor: pointer;">&rarr;</div>
            <input type="text" ng-model="statement" />
        </div>
    </div>
</div>