<div class="component nospace" ng-style="{'top': topCSS, 'left': leftCSS}">
    <div class="clock">
        <div style="width: 0; height: 0; overflow: visible; display: inline-block; position: absolute;">
            <div class="nospace" style="position: absolute;">
                <div class="wireconnector grayback" style="left: -5px; top: 7px;"
                     ng-mousedown="highFlank()" ng-mouseup="lowFlank()"></div>
            </div>
        </div>
        <div ng-style="{'background-color': value ? 'rgb(255, 0, 0)' : 'rgba(64, 0, 0, 0.3)'}"
             ng-mousedown="highFlank()" ng-mouseup="lowFlank()" ng-mouseleave="lowFlank()"
             style="width: 10px; height: 10px; border-radius: 7px; display: inline-block; position: absolute; top: 6px; left: 2px; cursor: pointer;"></div>
        <input type="text" ng-model="frequency" />
        <div style="width: 0; height: 0; overflow: visible; display: inline-block; position: absolute;">
            <div class="wireconnector grayback" style="left: 68px; top: 4px;"
                 ng-mousedown="setToRun()" ng-mouseup="setToStop()"></div>
            <div style="position: absolute; left: 63px; top: -9px; text-align: right;">
                <span style="font-size: 40%; font-family: 'Nimbus Mono L', monospace;">▶</span>
            </div>
        </div>
    </div>
</div>