<div class="component nospace" ng-style="{'top': topCSS, 'left': leftCSS}">
    <div class="switch" ng-click="toggle()">
        <div style="width: 0; height: 0; overflow: visible; display: inline-block; position: absolute;">
            <div class="nospace" style="position: absolute;">
                <div class="wireconnector" style="left: -0.34em; top: 0.35em;"></div>
            </div>
        </div>
        <div ng-style="{'background-color': data ? 'rgb(255, 0, 0)' : 'rgba(64, 0, 0, 0.3)', 'boxShadow': data ? '0, 0, 0, rgba(0, 0, 0, 0)' : '0.05em 0.05em 0.15em rgba(0, 0, 0, 0.5)'}"
             style="width: 0.9em; height: 0.9em; margin: 0.05em;"></div>
    </div>
</div>