<div class="component nospace" ng-style="{'top': topCSS, 'left': leftCSS}">
    <div class="register">
        <div style="width: 0; height: 0; overflow: visible; display: inline-block; position: absolute;"
             ng-repeat="connection in register.getBuses()" ng-class="{'toprow': $even, 'bottomrow': $odd}">
            <gate-state connection="connection" downwards="$odd"></gate-state>
        </div>
        <div style="width: 0; height: 0; overflow: visible; display: inline-block; position: absolute;">
            <div class="wireconnector grayback" style="left: 58px; top: 0;"
                 ng-mousedown="activateInc($event)" ng-mouseup="deactivateInc()"></div>
            <div class="wireconnector grayback" style="left: 58px; top: 7px;"
                 ng-mousedown="activateDec($event)" ng-mouseup="deactivateDec()"></div>
            <div class="wireconnector grayback" style="left: 58px; top: 14px;"
                 ng-mousedown="activateClr($event)" ng-mouseup="deactivateClr()"></div>
            <div style="position: absolute; left: 46px; top: -10px; text-align: right;">
                <span style="font-size: 60%; font-family: 'Nimbus Mono L', monospace;">+1</span>
            </div>
            <div style="position: absolute; left: 46px; top: -3px; text-align: right;">
                <span style="font-size: 60%; font-family: 'Nimbus Mono L', monospace;">-1</span>
            </div>
            <div style="position: absolute; left: 40px; top: 4px; text-align: right;">
                <span style="font-size: 60%; font-family: 'Nimbus Mono L', monospace;">clr</span>
            </div>
        </div>
        <input type="text" ng-model="data" ng-readonly="register.isReader()" />
        <div style="width: 0; height: 0; display: inline-block; position: absolute;" ng-transclude></div>
    </div>
</div>