<div ng-init="author = 'Klaus Merkert'"></div>

<div ng-show="language == 'de'">
    <h2 class="pageTitle">JavaScript</h2>


</div>

<div ng-show="language == 'en'">
    <h2 class="pageTitle">JavaScript</h2>


</div>

<div>
    <div class="pagebar">
        <div class="textwidth">
            <h4>Links</h4>
            <ul>
                <li><a href="http://www.w3schools.com/html/html5_intro.asp">HTML5 Introduction</a> -
                    www.w3schools.com/html5
                </li>
                <li><a href="http://de.wikipedia.org/wiki/JavaScript">JavaScript</a> - wikipedia</li>
                <li><a href="http://www.w3schools.com/js/DEFAULT.asp">JavaScript Tutorial</a> - www.w3schools.com/js
                </li>
                <li>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Inheritance_and_the_prototype_chain">
                        Inheritance and the prototype chain</a> - developer.mozilla.org
                </li>
                <li><a href="http://de.wikipedia.org/wiki/Firebug">Firebug</a> - de.wikipedia.org</li>
                <li><a href="http://speakingjs.com/">Speaking JavaScript</a> - Dr. Axel Rauschmayer</li>
                <li><a href="http://www.2ality.com/2013/06/basic-javascript.html">Basic JavaScript for the impatient
                    programmer</a> - Dr. Axel Rauschmayer
                </li>
                <li><a href="http://de.selfhtml.org/javascript/index.htm">javascript</a> - de.selfhtml.org</li>
                <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a> -
                    developer.mozilla.org/
                </li>
                <li><a href="http://www.heise.de/ct/14/15/links/166.shtml">
                    Zusatz zu c't Artikel 'Hallo, Web! Mit JavaScript Programmieren lernen, Teil 1</a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
    </div>
</div>