<div ng-init="author = 'Klaus Merkert'"></div>

<div ng-show="language == 'de'">
    <h2 class="pageTitle">Unittests mit Jasmine</h2>

    <div class="pagebar">
        <div class="textwidth">
            <h4>erste Schritte</h4>
            <ul>
                <li>Datei '*.spec.js' in tests erstellen</li>
                <li>Skript in jasmine.html einbinden</li>
            </ul>
        </div>
    </div>

</div>

<div ng-show="language == 'en'">
    <h2 class="pageTitle">Testing with Jasmine</h2>

    <div class="pagebar">
        <div class="textwidth">
            <h4>First Steps</h4>
            <ul>
                <li>Cseato some '*.spec.js' in the tests folder</li>
                <li>include this script in jasmine.html</li>
            </ul>
        </div>
    </div>
</div>

<div>
    <div class="textwidth">
        <h4>Links</h4>
        <ul>
            <li><a href="http://jasmine.github.io/">jasmine.github.io</a></li>
            <li><a href="http://de.wikipedia.org/wiki/Jasmine_%28JavaScript%29">Jasmine</a> - de.wikipedia.org</li>
            <li><a href="http://evanhahn.com/how-do-i-jasmine/">How do I Jasmine: a tutorial by Evan Hahn</a> by Evan
                Hahn
            </li>
            <li><a href="http://shop.oreilly.com/product/0636920028277.do">JavaScript Testing with Jasmine </a> by Evan
                Hahn
            </li>
        </ul>
    </div>
</div>