<div ng-init="author = 'Klaus Merkert'"></div>

<div ng-show="language == 'de'">
    <h2 class="pageTitle">GitHub</h2>

    <div class="pagebar">
        <div class="textwidth">

            <h4>Einige git-Befehle</h4>
  <pre>  git pull origin develop
  git stash
  git commit -m "bonsai_beta"
  git status
  ...
  </pre>

            <h4>Links</h4>
            <ul>
                <li><a href="http://de.wikipedia.org/wiki/GitHub">GitHub</a> - de.wikipedia.org</li>
                <li><a href="https://github.com/">github.com</a></li>
                <li><a href="https://www.kernel.org/pub/software/scm/git/docs/user-manual.html">Git User’s Manual </a>
                </li>
                <li><a href="http://t3n.de/news/eigentlich-github-472886/">Was ist eigentlich dieses GitHub?</a></li>
                <li><a href="http://wiki.ubuntuusers.de/Git">Git</a> - wiki.ubuntuusers.de</li>
            </ul>
        </div>
    </div>

</div>

<div ng-show="language == 'en'">
    <h2 class="pageTitle">GitHub</h2>


</div>