<div ng-init="author = 'Klaus Merkert'"></div>

<div ng-show="language == 'de'">
    <h2 class="pageTitle">Angular</h2>

    <div class="textwidth">
        <h4>Direktiven</h4>

        <p>In der Einleitung des Artikels
            <a href="http://www.ng-newsletter.com/posts/directives.html">Build custom directives with AngularJS</a>
            steht (Kommas würde ich anders setzen ;-))</p>

        <div class="quote">
            To start making your own directive, let’s first understand what directives actually are. Directives[-,]
            in AngularJS are, at their core [+,] functions that get run when the DOM is compiled by the compiler.
        </div>
    </div>
</div>

<div ng-show="language == 'en'">
    <h2 class="pageTitle">Angular</h2>

    <div class="textwidth">
        <h4>Directives</h4>

        <p>The introduction of
            <a href="http://www.ng-newsletter.com/posts/directives.html">Build custom directives with AngularJS</a>
            says: (the placement of commas is questionable)</p>

        <div class="quote">
            To start making your own directive, let’s first understand what directives actually are. Directives[-,]
            in AngularJS are, at their core [+,] functions that get run when the DOM is compiled by the compiler.
        </div>
    </div>
</div>

<div>
    <div class="pagebar">
        <div class="textwidth">
            <h4>Links</h4>
            <ul>
                <li><a href="http://de.wikipedia.org/wiki/AngularJS">AngularJS</a> - wikipedia</li>
                <li><a href="https://docs.angularjs.org/guide"> Developer Guide</a> - docs.angularjs.org</li>
                <li><a href="http://www.heise.de/developer/artikel/Webanwendungen-mit-AngularJS-1955101.html">
                    Webanwendungen-mit-AngularJS</a>
                    - www.heise.de/developer
                </li>
                <li><a href="http://toddmotto.com/ultimate-guide-to-learning-angular-js-in-one-day/">Ultimate guide to
                    learning AngularJS in one day</a></li>
                <li><a href="http://www.json.org/json-de.html">Einführung in JSON</a> - www.json.org</li>
                <li><a href="http://de.wikipedia.org/wiki/XMLHttpRequest">
                    XHR-XMLHttpRequest</a> - de.wikipedia.org
                </li>
                <li><a href="http://de.wikipedia.org/wiki/Ajax_%28Programmierung%29">Ajax</a> - wikipedia</li>
                <li>
                    <a href="http://m.heise.de/developer/artikel/Single-Page-Applications-mit-AngularJS-Teil-1-Erste-Schritte-2181167.html">
                        Single Page Applications mit AngularJS</a> - m.heise.de/developer
                </li>
                <li><a href="http://misko.hevery.com/">misko.hevery.com</a></li>
                <li><a href="https://www.youtube.com/watch?v=HCR7i5F5L8c">Design Decisions in AngularJS </a> - youtube
                </li>
                <li>
                    <a href="http://patterns.instantinterfaces.nl/current/Refactoring-and-Design-Patterns-INTRDP-IOC.html#INTRDP-IOC">
                        5: Inversion of Control and Dependency Injection</a> - Refactoring and Design Patterns
                </li>
                <li><a href="http://jorshasaur.us/simple-observer-pattern-in-angular/">Simple Observer Pattern in
                    Angular</a></li>
                <li><a href="http://de.wikipedia.org/wiki/Prototypenbasierte_Programmierung">Prototypenbasierte
                    Programmierung</a> - wikipedia
                </li>
                <li><a href="http://angularjs.de/artikel/angularjs-tutorial-deutsch">AngularJS-Tutorial für
                    Einsteiger</a> - angularjs.de
                </li>
                <li><a href="https://en.wikipedia.org/wiki/Same-origin_policy">Same-origin_policy</a>
                    - en.wikipedia.org
                </li>
                <li><a href="http://www.mediaevent.de/javascript/strict-mode.html">Strict Mode in JS</a> -
                    www.mediaevent.de
                </li>
                <li><a href="http://de.wikipedia.org/wiki/Singleton_%28Entwurfsmuster%29">Singleton</a> -
                    Entwurfsmuster, wikipedia
                </li>
                <li><a href="http://www.ng-newsletter.com/posts/directives.html">directives</a> -
                    www.ng-newsletter.com
                </li>
            </ul>
        </div>
    </div>

    <div class="textwidth">
        <h4>Dependency Injection</h4>
        <ul>
            <li>
                <a href="http://de.wikipedia.org/wiki/Dependency_Injection">Dependency Injection</a>
                - de.wikipedia.org
            </li>
            <li>
                <a href="http://de.wikipedia.org/wiki/Variable_%28Programmierung%29#Sichtbarkeitsbereich_von_Variablen_.28Scope.29">
                    Scope
                </a> - de.wikipedia.org
            </li>
        </ul>
    </div>

</div>