<div ng-init="author = 'Klaus Merkert'"></div>

<div ng-if="language == 'de'">
    <h2 class="pageTitle">Dokumentation</h2>

    <div class="textwidth">
        <p class="quote" lang="de-1996">
            Zur Dokumentation der Teile im Rechnerbaukasten wird im Folgenden nach und nach ein einfacher Bonsai-Rechner
            aufgebaut. Alle Beispiele sind interaktiv. Eventuelle Fehler werden in einer Fehlerliste angezeigt.
        </p>
    </div>

    <div id="register" class="pagebar">
        <div class="textwidth">
            <h2>Register</h2>

            <p>Ein Register ist eine einfache Komponente, die in einer CPU an mehreren Stellen verwendet wird. Register
                speichern ganze Zahlen, die dann in der CPU verwendet werden können. Im folgenden Beispiel siehst du ein
                Register, das den Wert 7 speichert. Indem du auf die kleinen grauen Quadrate an der rechten Kante des
                Registers drückst, kannst du den gespeicherten Wert um 1 erhöhen und verringern oder auf 0 setzen.</p>
            <simulation example="singleregister"></simulation>
            <p>Du kannst den Wert eines Registers direkt ändern, wenn du auf die Anzeige der Zahl klickst. Register
                können positive ganze Zahlen bis zu einer festgelegten Obergrenze speichern. Wie groß ist diese Grenze
                im Beispiel? Gibt es eine untere Grenze?</p>
        </div>
    </div>

    <div id="registertransfer" class="pagebar">
        <div class="textwidth">
            <h2>Register und Busse</h2>

            <p>Register können über Busse ihre Inhalte austauschen. Dazu können Register auf einen Bus schreiben oder
                von einem Bus lesen.
                Solange ein Register schreibt, ist der Registerinhalt auf dem Bus verfügbar. Es kann immer nur ein
                Register auf den Bus
                schreiben. Beliebig viele Register können vom Bus lesen. Ein Register kann auch inaktiv sein, also weder
                lesen noch schreiben.
                Ein Bus, der nicht beschrieben wird, ist inaktiv. Er enthält keinen Wert.</p>

            <p>Den Zustand eines Busses kann man teilweise an seiner Farbe ablesen. Ein inaktiver Bus erscheint blass.
                Ein Bus, der eine
                Null enthält, erscheint kräftig. Ein Bus, der einen Wert größer Null enthält, hat einen blauen
                Schatten.</p>

            <p>Die <i>Tore</i> eines Registers lassen sich über die <i>Steuereingänge</i>, das sind die roten und grünen
                Quadrate, beeinflussen.
                Die Farbe rot steht für das Schreiben auf den Bus, die Farbe grün für das Lesen. Ein Mausklick betätigt
                einen Steuereingang.
                Will man den Zustand dauerhaft erhalten, so zieht man die Maus mit gedrückter linker Taste aus dem
                Steuereingang heraus und lässt
                erst dort los. Ein Klick in das Innere schaltet die Zustände in der Reihenfolge Lesen - Schreiben -
                inaktiv - Lesen - ..
                durch.</p>
            <simulation example="registertransfer"></simulation>
            <p><a href="/downloads/RegisterUndBusse.txt">RegisterUndBusse.txt</a></p>
        </div>
    </div>

    <div id="memory" class="pagebar">
        <div class="textwidth">
            <h2>Speicher</h2>

            <p>Der <i>Speicher</i> enthält in den einzelnen Zellen Daten in Form von Zahlen. Eine einzelne <i>Speicherzelle</i>
                wird über ihre
                <i>Adresse</i> angesprochen. Eine Zelle kann beschrieben und ausgelesen werden.</p>
            <simulation example="memory"></simulation>
            <p><a href="/downloads/memory.txt">memory.txt</a></p>
        </div>
    </div>

    <div id="gates" class="pagebar">
        <div class="textwidth">
            <h2>Schalter, Gatter, Leuchtdioden</h2>

            <p>Das <i>Und-Gatter</i> hat zwei Eingänge und einen Ausgang. An den Eingängen dürfen nur die Werte 0 oder 1
                anliegen.
                <i>Schalter</i> liefern je nach Stellung den Wert 0 oder den Wert 1. Eine <i>Leuchtdiode</i>
                (<a href="http://de.wikipedia.org/wiki/Leuchtdiode">LED</a>) hat einen Eingang, der nur 0 oder 1
                verarbeiten
                kann. Bei einer 1 am Eingang leuchtet die <i>LED</i>, bei einer 0 bleibt sie dunkel. Gatter, Schalter
                und LEDs werden durch
                einfache Leitungen verbunden. Einfache Leitungen in der Simulation sind Busse, die nur die Werte 0 oder
                1 annehmen können.</p>

            <p>Warum heißt das Und-Gatter
                <a href="http://de.wikipedia.org/wiki/Und-Gatter">Und-Gatter</a>?
                Nun, eine 1 am Ausgang erhält man nur, wenn eine 1 am einen <b>und</b>
                eine 1 am anderen Eingang anliegt.</p>

            <p>Ein Und-Gatter kann als <i>Datentor</i> für eine 1 aufgefasst werden. Dazu nimmt man z.B. den Eingang A
                als <i>Torsteuerung</i> und
                den Eingang B als <i>Dateneingang</i> an. Eine 1 am Dateneingang kann das Tor nur passieren, wenn eine 1
                an der Torsteuerung
                anliegt. Liegt eine 0 an der Torsteuerung an, so kommt eine 1 nicht durch das Tor. Ausprobieren!</p>

            <p>Außer zweier UND-Gatter (AND) werden im Bonsai-Computer auch ein ODER-Gatter (OR) und ein
                Nicht-ODER-Gatter (NOR)
                verwendet.</p>
            <simulation example="gates"></simulation>
            <p>Der Bonsai-Baukasten bietet auch die Möglichkeit, 'Schaltungen' im
                <a href="http://de.wikipedia.org/wiki/JavaScript_Object_Notation">JSON</a>-Format abzuspeichern und
                einzuladen.
                Den Edit-Modus schaltet man durch einen Klick auf das Zahnrad ein und aus.
                Ein einfaches Beispiel findet sich in der Datei <a href="/downloads/switchled.txt">switchled.txt</a>, die man lokal
                abspeichern und
                einladen kann. Die Struktur dieser Schaltungsdateien sollte weitgehend selbsterklärend sein.</p>

            <p><a href="/downloads/gates.txt">gates.txt</a>, <a href="/downloads/norRSFF.txt">norRSFF.txt</a>,
                <a href="/downloads/switchled.txt">switchled.txt</a></p>
        </div>
    </div>

    <div class="pagebar">
        <div class="textwidth">
            <h2 id="filter">Filter</h2>

            <p>Der Bonsai-Baukasten bietet die Möglichkeit, aus einer Zahl n gewisse Informationen wie bestimmte
                Dezimalstellen
                herauszufiltern. Formal ist ein <i>Filter</i> eine Funktion, die einer Zahl n einen Funktionswert f(n)
                zuordnet. Die
                Funktionsvorschrift lässt sich nach einem Klick auf das Filtersymbol editieren. Sie muss gültiges
                JavaScript sein.</p>
            <simulation example="filter"></simulation>
            <p><a href="/downloads/filter.txt">filter.txt</a></p>
        </div>
    </div>

    <div id="manual" class="pagebar">
        <div class="textwidth">
            <h2>Operationswerk</h2>

            <p>Das Operationswerk ermöglicht es, ein Maschinenprogramm zu speichern und durchzuführen.
                Allerdings müssen 'von außen' die <i>Steuersignale</i> gesetzt werden.</p>
            <simulation example="manual"></simulation>
            <p>Bestandteile des Operationswerks:</p>
            <ul>
                <li>Speicher, um das Maschinenprogramm und die Daten zu speichern</li>
                <li>Programmzeiger PC (program counter), um die aktuelle Position im Programm anzuzeigen</li>
                <li>Befehlsregister IR (instruction register), um Opcode und Adresse des aktuellen Befehls zu liefern
                </li>
                <li>Akku, um die einfachen Rechenoperation +1 und -1 zu ermöglichen</li>
                <li>Nullentdeckungslogik, um zusammen mit Gattern ein unbedingtes und ein bedingtes Hochzählen des PCs
                    zu ermöglichen
                </li>
                <li>Adressbus</li>
                <li>Datenbus</li>
            </ul>
        </div>
    </div>

    <div id="bitregister" class="pagebar">
        <div class="textwidth">
            <h2>Bit-Register</h2>

            <p>Das Bit-Register ist eine Sonderform eine Registers, die an einem Tor einzelne Bits ausgeben oder
                einlesen
                kann. Weiterhin besonders ist die <i>Flankensteuerung</i> des Leseeingangs am anderen Tor. Die
                Flankensteuerung bewirkt, dass genau mit der steigenden Flanke der Businhalt übernommen wird. Spätere
                Änderungen am Bus werden trotz anliegendem Steuersignal nicht berücksichtigt.</p>
            <simulation example="trafficlights"></simulation>
            <p>bb</p>
        </div>
    </div>

    <div id="traffic" class="pagebar">
        <div class="textwidth">
            <h2>Ampelsteuerung</h2>

            <p>Mit einem Bit-Register, einem Speicher, einem Adress-Register und einem Taktgeber lässt sich eine
                einfache Ampelsteuerung aufbauen.</p>
            <simulation example="trafficlight"></simulation>
            <p>Wie könnte eine erweiterte 'Ampelsteuerung' das Operationswerk ergänzen?</p>
        </div>
    </div>

    <div id="control" class="pagebar">
        <div class="textwidth">
            <h2>Operationswerk mit Controlboard</h2>

            <p>aaa</p>
            <simulation example="control"></simulation>
            <p>bb</p>
        </div>
    </div>

</div>

<div ng-if="language == 'en'">
    <h2 class="pageTitle">Documentation</h2>

    <div class="textwidth">
        <p class="quote" lang="en">
            Because this Bonsai simulation is essentially a toolbox of CPU components the documentation consists
            of working examples which build the Bonsai-coputer step for step. All examples are interactive. If an
            error is produced it is displayed right below the example.
        </p>
    </div>

    <div id="register-en" class="pagebar">
        <div class="textwidth">
            <h2>Register</h2>

            <p>
                An register is a really simple component. It saves integers which can be usat at several places in
                the CPU. In the following example the register saves the value of 7. The small gray boxes at the right
                can be used to increase (by 1), decrease (by 1) or clear the register which sets its value to 0.
            </p>
            <simulation example="singleregister"></simulation>
            <p>
                You can edit the registers value by clicking on the number.<br />
                Register save positive integers up to a specific maximum value. Try to figure out what is the maximum
                value in this example. Is there also a minimum value?
            </p>
        </div>
    </div>

    <div id="registertransfer-de" class="pagebar">
        <div class="textwidth">
            <h2>Register and Buses</h2>

            <p>
                Register can transfer their values by using buses. The connection to a bus is called gate and the gate
                can be configured to read from a bus or to write to it.<br />
                As long as a Register is writing to a bus its value can be read by other components like a second
                register. Only one component can write to a bus at a time. The number of components which read from a
                bus is not limited.<br />
                Every gate can also be inactive which means that it does not write and does not read from the bus.<br />
                A bus with no component which writes to it is inactive. An inactive bus has no value.
            </p>

            <p>
                The state a bus is in can be seen at its color. An inactive bus is pale. A bus with a value of 0 has
                a more saturated color and if the value is bigger than 0 it also gets a bluish shadow.
            </p>

            <p>
                The <em>gates</em> of a register can be influenced by <em>control wire inputs</em> (the small red and
                green squares at the side of the gate).<br />
                Red stands for writing to a bus (which can lead to conflicts if another component also writes to the
                same bus) while green indicates reading. The <em>control wire inputs</em> can be activated by
                mouse click.<br/>
                The writing or reading state can be preserved by clicking the small sqare and dragging the mouse outside
                the square while holding the mouse button.<br />
                A click in the body if the gate toggles its states in the order read - write - inactive - read - write
                ...
            </p>
            <simulation example="registertransfer"></simulation>

            <p>Example file for download: <a href="/downloads/RegisterUndBusse.txt">RegisterUndBusse.txt</a></p>
        </div>
    </div>

    <div id="memory-en" class="pagebar">
        <div class="textwidth">
            <h2>Memory</h2>

            <p>
                The <em>memory</em> stores integers in its cells. For each <em>address</em> one integer can be stored.
                Memory cells can get values by setting the data gate to read and they can write their value to the
                attached bus by setting this gate to write. The gate for the address can only read or be inactive.
            </p>
            <simulation example="memory"></simulation>
            <p>Example file for download: <a href="/downloads/memory.txt">memory.txt</a></p>
        </div>
    </div>

    <div id="gates-en" class="pagebar">
        <div class="textwidth">
            <h2>Switches, Logic-Gates, LEDs</h2>

            <p>
                The <i>AND-gate</i> has two inputs and one output. At the inputs only the values 0 and one are valid.
                That means that the attached bus should have a bit width of 1 which makes it a control wire.<br />
                <i>Switches</i> output 0 or 1 depending on their state. A <em>LED-component</em>
                (<a href="http://de.wikipedia.org/wiki/Leuchtdiode">LED</a>) has only one input which accepts only 0
                or 1 just like the input of the logic gate. An input of 1 leads to an illuminating LED while it stays
                dark for a 0.<br />
                Logic-Gates, switches and LEDs are connected with <em>control wires</em> which are buses which can only
                trasport values of 0 or 1.
            </p>

            <p>
                Why is the AND-gate called
                <a href="http://de.wikipedia.org/wiki/Und-Gatter">AND-gate</a>?<br />
                That is because the output of an AND-gate is only 1 if the first <strong>and</strong> the second
                input are 1. In all other cases the output is 0.
            </p>

            <p>
                An AND-gate can be seen as a <em>detector</em> for a 1. For this application you consider the first
                input a <em>gate control</em> and the second input the <em>data gate</em>. A 1 at the data gate only
                passes the detector if the gate control input is 1. Try this!
            </p>

            <p>
                The Bonsai uses two AND-gates, one OR-gate and one NOT-OR-gate (NOR).</p>
            <simulation example="gates"></simulation>
            <p>
                This software lets you save and load 'circuits' in a special form of the
                <a href="http://de.wikipedia.org/wiki/JavaScript_Object_Notation">JSON</a>-format.<br />
                You can access this feature by clicking on the wheel in the upper left corner which activates the
                edit-mode. A simble example is in the file <a href="/downloads/switchled.txt">switchled.txt</a>. You
                can download this file and change its structure with a text editor.<br />
                The structure is pretty self-explanatory: there is a list of components for each component type in
                the Bonsai simulation. The lists may be empty but the components should all have a complete set of
                attributes. For a more complete example go to the <a ng-href="/circuit/">finished Bonsai</a> and
                save its structure to a file. The file is pretty long but all types of components are present in this
                example.
            </p>

            <p>Examples: <a href="/downloads/gates.txt">gates.txt</a>, <a href="/downloads/norRSFF.txt">norRSFF.txt</a>,
                <a href="/downloads/switchled.txt">switchled.txt</a></p>
        </div>
    </div>

    <div class="pagebar">
        <div class="textwidth">
            <h2 id="filter-en">Filter</h2>

            <p>
                The bonsai simulation has a filter component which can be used to extract information out of a number.
                In the bonsai this is used to extract the decimal for the command and the remainder for the address.
                <br />
                Formally a <em>filter</em> is a function which maps a number n to a value f(n). You can edit the
                formula for the function f(n) by clicking on the filter component. The formula needs to be valid
                JavaScript.
            </p>
            <simulation example="filter"></simulation>
            <p><a href="/downloads/filter.txt">filter.txt</a></p>
        </div>
    </div>

    <div id="manual-en" class="pagebar">
        <div class="textwidth">
            <h2>Execution Unit</h2>

            <p>
                The execution unit lets you store and execute a machine program. The control signals need to be set
                'from outside'.</p>
            <simulation example="manual"></simulation>
            <h4>Parts of the Execution Unit:</h4>
            <ul>
                <li>Memory for saving the machine program and the data</li>
                <li>program counter (PC) for saving the current position in the program</li>
                <li>instruction register (IR) for supplying opcode and address of the current command</li>
                <li>Akku for the simple calculations +1 and -1</li>
                <li>Logic for detecting 0 values for realizing together with logic-gates an increasing of the PC under
                    certain conditions (if value is 0 which is for the tst command)
                </li>
                <li>Address bus</li>
                <li>Data bus</li>
            </ul>
        </div>
    </div>

    <div id="bitregister-en" class="pagebar">
        <div class="textwidth">
            <h2>Bit-Register</h2>

            <p>The Bit-Register is a special representation of a register. It exposes the bits of its value at a big
                gate with many connectors for control wires. This part is only special in the simulation because a real
                register would have a wire for each bit at every gate.<br />
                A real difference at this component is that its gate to the wide bus is triggered by a flank and that
                this input can not continue to read like the gates of other registers. This is necessary because
                changes of the wide bus need not to be accepted for the Bonsai to work. In the real world there are
                both kinds of microchips and both kinds are also used in CPUs to optimize their structure.</p>
            <simulation example="trafficlights"></simulation>
        </div>
    </div>

    <div id="traffic-en" class="pagebar">
        <div class="textwidth">
            <h2>Traffic Lights</h2>

            <p>
                With a Bit-Register, a memory, a address register and a clock generator a simple control unit for
                traffic lights can be built.
            </p>
            <simulation example="trafficlight"></simulation>
            <p>In which way could the extended 'traffic light cotroller' supplement the execution unit?</p>
        </div>
    </div>

    <div id="control-en" class="pagebar">
        <div class="textwidth">
            <h2>Execution Unit with Control Board</h2>

            <p>This is highly improved.</p>
            <simulation example="control"></simulation>
        </div>
    </div>

</div>