<div ng-init="author = 'Klaus Merkert'"></div>

<div ng-show="language == 'de'">
    <h2 class="pageTitle">Impressum</h2>

    <div class="pagebar">
      <div class="textwidth" style="padding-top: 0; margin-top: 0;">
        <h4>Anbieter:</h4>
        <p>Klaus Merkert<br/>
        Forststraße 1<br/>
        67661 Kaiserslautern</p>

        <h4>Kontakt:</h4>
        <p>E-Mail: <a href="mailto:klaus@merkert.info">klaus@merkert.info</a></p>

        <h4>Verantwortlich nach § 6 Abs.2 MDStV</h4>
        <p>Klaus Merkert<br/>
        Maintainer Bonsai Simulation, Entwickler der Hardware<br/>
        Forststraße 1<br/>
        67661 Kaiserslautern</p>

        <h4>Weitere Autoren</h4>
        <ul>
          <li>Johannes Merkert<br/>
          〒155-0033 Tokyo-to Setagaya-ku<br/>
          Daita 4-24-11<br/>
          Migi no Doa</li>
        </ul>
        <p lang="de-1996" class="textwidth"></p>
      </div>
    </div>
</div>

<div ng-show="language == 'en'">
    <h2 class="pageTitle">Imprint</h2>

    <div class="pagebar">
      <div class="textwidth" style="padding-top: 0; margin-top: 0;">
        <h4>Maintainer:</h4>
        <p>Klaus Merkert<br/>
        Forststraße 1<br/>
        67661 Kaiserslautern</p>

        <h4>Contact:</h4>
        <p>e-mail: <a href="mailto:klaus@merkert.info">klaus@merkert.info</a></p>

        <h4>Additional authors</h4>
        <ul>
          <li>Johannes Merkert<br/>
          〒155-0033 Tokyo-to Setagaya-ku<br/>
          Daita 4-24-11<br/>
          Migi no Doa</li>
        </ul>
        <p lang="de-1996" class="textwidth"></p>
      </div>
    </div>
</div>
