<div ng-init="author = 'Johannes Merkert'"></div>
<div ng-show="lang == 'de'">
    <div class="textwidth">
        <p class="quote" lang="de-1996">
            Wenn du schon immer davon geträumt hast, deinen eigenen Prozessor zu entwickeln,
            kannst du das jetzt tun!
        </p>
    </div>

    <div class="pagebar" style="padding-top: 1em;">
        <div style="width: 500px; height: 270px; background: url('/images/page/Bonsai-teaser-schematic.svg') no-repeat; margin: 0.5em auto;"></div>
        <p lang="de-1996" class="textwidth">Der
            <a href="http://www.hsg-kl.de/faecher/inf/material/bonsai/"><em>Bonsai Lehrcomputer</em></a> ist der
            einfachste Computer, den wir uns vorstellen konnten. Aber der Bonsai kann im Prinzip alles, was eine moderne
            CPU auch könnte. Wer den Bonsai versteht, hat die Grundlagen verstanden, die alle Prozessoren, von der
            Workstation bis zum Handy, ausmachen.<br/> <br/>
            Wenn du den Bonsai verstanden hast, kannst du ausgehend von seinem minimalistischen Design leicht mit dem
            <a href=""><em>Bonsai-Rechner-Baukasten</em></a> Ideen für deine eigene, performantere Rechnerarchitektur
            ausprobieren.</p>
    </div>

    <div class="textwidth">
        <p lang="de-1996">
            Wir haben dir einen Bonsai mit dem <em>Rechner-Baukasten</em> gebaut. Du kannst ihn ohne
            Installation direkt im Browser benutzen:
        </p>

        <div class="bigbutton" style="clear: both; width: 13em;">
            <a ng-href="/bonsai/">Bonsai in Aktion</a>
        </div>

        <p lang="de-1996">
            Du hast den Bonsai in Aktion gesehen und willst wissen wie er funktioniert? Schau dir die
            <a ng-href="/documentation/">Dokumentation</a> an.
        </p>
    </div>

    <div class="pagebar">
        <div class="textwidth">
            <p lang="de-1996">Den Bonsai gibt es nicht nur als Simulation. Schau dir hier den Zusammenbau der Hardware
                an:<br/>
                <iframe width="560" height="315" style="margin-left: calc(20em - 280px);"
                        src="http://www.youtube.com/embed/lNZ9I6A67ro" allowfullscreen></iframe>
            </p>
        </div>
    </div>

    <div class="opaquebar">
        <div class="textwidth">
            <p lang="de-1996">
                Die Bonsai-Simulation ist freie Software und steht unter der
                <a href="http://www.gnu.org/copyleft/gpl.html">GPL v.3</a>. Wenn du wissen willst, wie die Simulation
                funktioniert oder dich an der Entwicklung beteiligen möchtest, schau dir unsere
                <a ng-href="/development/index.php">Entwicklerseite</a> und unseren
                <a href="https://github.com/KlausMerkert/Bonsai">Quelltext bei GitHub</a> an. Wenn du Fehler
                findest, melde sie bitte im
                <a href="https://github.com/KlausMerkert/Bonsai/issues">Issue-Tracker</a>
                oder, falls dir das zu kompliziert ist per E-Mail an
                <a href="mailto:klaus@merkert.info">klaus@merkert.info</a>.
            </p>

            <p lang="de-1996">
                Bonsai basiert auf <a href="https://angularjs.org/">AngularJs</a> und du kannst dir
                <a ng-href="/development/#installation">eine Version auf deinem eigenen Server installieren</a>.
            </p>

            <p lang="de-1996">
                Bonsai gibt es in <a href="http://bonsai.pinae.net">Englisch</a> und Deutsch. Wenn wir
                deine Sprache noch nicht unterstützen, kannst du uns helfen, indem du
                <a ng-href="/development/translation/">eine Übersetzung erstellst</a>.
            </p>
        </div>
    </div>

    <div class="pagebar">
        <div class="textwidth">
            <p lang="de-1996">Bonsai wird von <a href="https://github.com/KlausMerkert">Klaus Merkert</a>
                in Zusammenarbeit mit <a href="http://www.inf-schule.de/">inf-schule.de</a> betrieben und vom
                <a href="http://fit.informatik.uni-kl.de/">Verein zur Förderung der Informatik (FIT) </a> finanziell
                unterstützt.
                Wenn du Fragen hast, zögere nicht <a href="mailto:klaus@merkert.info">uns zu schreiben</a>.</p>
            <h4>Entwickler, Designer und Übersetzer:</h4>
            <ul>
                <li><a href="https://github.com/KlausMerkert">Klaus Merkert</a></li>
                <li><a href="http://johannes.merkert.info">Johannes Merkert</a></li>
                <li>...</li>
            </ul>
        </div>
    </div>

    <div style="width: 300px; height: 400px; background: url('/images/Bonsai-logo-topf.svg') no-repeat; margin: 0.6em auto;"></div>
</div>