<div ng-init="author = 'Johannes Merkert'"></div>
<div ng-show="language == 'de'">
    <div class="textwidth">
        <p class="quote" lang="de-1996">
            Wenn du schon immer davon geträumt hast, deinen eigenen Prozessor zu entwickeln,
            kannst du das jetzt tun!
        </p>
    </div>

    <div class="pagebar" style="padding-top: 1em;">
        <div style="width: 500px; height: 270px; background: url('/images/page/Bonsai-teaser-schematic.svg') no-repeat; margin: 0.5em auto;"></div>
        <p lang="de-1996" class="textwidth">Der
            <a href="http://www.hsg-kl.de/faecher/inf/material/bonsai/"><em>Bonsai Lehrcomputer</em></a> ist der
            einfachste Computer, den wir uns vorstellen konnten. Aber der Bonsai kann im Prinzip alles, was eine moderne
            CPU auch könnte. Wer den Bonsai versteht, hat die Grundlagen verstanden, die alle Prozessoren, von der
            Workstation bis zum Handy, ausmachen.<br/> <br/>
            Wenn du den Bonsai verstanden hast, kannst du ausgehend von seinem minimalistischen Design leicht mit dem
            <a href=""><em>Bonsai-Rechner-Baukasten</em></a> Ideen für deine eigene, performantere Rechnerarchitektur
            ausprobieren.</p>
    </div>

    <div class="textwidth">
        <p lang="de-1996">
            Wir haben dir einen Bonsai mit dem <em>Rechner-Baukasten</em> gebaut. Du kannst ihn ohne
            Installation direkt im Browser benutzen:
        </p>

        <a ng-href="/bonsai/">
            <div class="bigbutton" style="clear: both; width: 8em;">
                Bonsai in Aktion
            </div>
        </a>

        <p lang="de-1996">
            Du hast den Bonsai in Aktion gesehen und willst wissen wie er funktioniert? Schau dir die
            <a ng-href="/documentation/">Dokumentation</a> an.
        </p>
    </div>

    <div class="pagebar">
        <div class="textwidth">
            <p lang="de-1996">Den Bonsai gibt es nicht nur als Simulation. Schau dir hier den Zusammenbau der Hardware
                an:<br/>
                <iframe width="560" height="315" style="margin-left: calc(20em - 280px);"
                        src="http://www.youtube.com/embed/lNZ9I6A67ro" allowfullscreen></iframe>
            </p>
        </div>
    </div>

    <div class="opaquebar">
        <div class="textwidth">
            <p lang="de-1996">
                Die Bonsai-Simulation ist freie Software und steht unter der
                <a href="http://www.gnu.org/copyleft/gpl.html">GPL v.3</a>. Wenn du wissen willst, wie die Simulation
                funktioniert oder dich an der Entwicklung beteiligen möchtest, schau dir unsere
                <a ng-href="/development/index.php">Entwicklerseite</a> und unseren
                <a href="https://github.com/KlausMerkert/Bonsai">Quelltext bei GitHub</a> an. Wenn du Fehler
                findest, melde sie bitte im
                <a href="https://github.com/KlausMerkert/Bonsai/issues">Issue-Tracker</a>
                oder, falls dir das zu kompliziert ist per E-Mail an
                <a href="mailto:klaus@merkert.info">klaus@merkert.info</a>.
            </p>

            <p lang="de-1996">
                Bonsai basiert auf <a href="https://angularjs.org/">AngularJs</a> und du kannst dir
                <a ng-href="/development/#installation">eine Version auf deinem eigenen Server installieren</a>.
            </p>

            <p lang="de-1996">
                Bonsai gibt es in <a href="http://bonsai.pinae.net">Englisch</a> und Deutsch. Wenn wir
                deine Sprache noch nicht unterstützen, kannst du uns helfen, indem du
                <a ng-href="/development/translation/">eine Übersetzung erstellst</a>.
            </p>
        </div>
    </div>

    <div class="pagebar">
        <div class="textwidth">
            <p lang="de-1996">Bonsai wird von <a href="https://github.com/KlausMerkert">Klaus Merkert</a>
                in Zusammenarbeit mit <a href="http://www.inf-schule.de/">inf-schule.de</a> betrieben und vom
                <a href="http://fit.informatik.uni-kl.de/">Verein zur Förderung der Informatik (FIT) </a> finanziell
                unterstützt.
                Wenn du Fragen hast, zögere nicht <a href="mailto:klaus@merkert.info">uns zu schreiben</a>.</p>
            <h4>Entwickler, Designer und Übersetzer:</h4>
            <ul>
                <li><a href="https://github.com/KlausMerkert">Klaus Merkert</a></li>
                <li><a href="http://johannes.merkert.info">Johannes Merkert</a></li>
                <li>...</li>
            </ul>
        </div>
    </div>

    <div style="width: 300px; height: 400px; background: url('/images/Bonsai-logo-topf.svg') no-repeat; margin: 0.6em auto;"></div>
</div>
<div ng-show="language == 'en'">

    <div class="textwidth">
        <p class="quote" lang="en">Have you ever dreamt of creating your own computer architecture? Now you can!</p>
    </div>

    <div class="pagebar" style="padding-top: 1em;">
        <div style="width: 500px; height: 270px; background: url('/images/page/Bonsai-teaser-schematic.svg') no-repeat; margin: 0.5em auto;"></div>
        <p lang="en" class="textwidth">The Bonsai Computer is the simplest computer we could imagine and it makes it
            easy to understand how computers work. And if you manage to understand it you can use it as the perfect
            starting point for your own design.</p>
    </div>

    <div class="textwidth">
        <p lang="en">You can try the Bonsai without the need to install anything right in your Browser:</p>

        <a ng-href="/bonsai/">
            <div class="bigbutton" style="clear: both; width: 8em;">
                Start Bonsai
            </div>
        </a>

        <p lang="en">
            You saw it running and you want to know how it works? Go to the
            <a ng-href="/documentation/">documentation</a>.
        </p>
    </div>

    <div class="pagebar">
        <div class="textwidth">
            <p lang="en">There is also a real hardware version of the Bonsai. Here is a video of the assembly of the
                hardware:<br>
                <iframe width="560" height="315" style="margin-left: calc(20em - 280px); border: 0 solid gray;"
                        src="//www.youtube.com/embed/lNZ9I6A67ro" allowfullscreen=""></iframe>
            </p>
        </div>
    </div>

    <div class="opaquebar">
        <div class="textwidth">
            <p lang="en">The Bonsai simulation is free software and licensed under the <a
                    href="http://www.gnu.org/copyleft/gpl.html">GPL v.3</a>. If you are interested how it works go to
                our <a ng-href="/development/">developer section</a> and check out the <a
                        href="https://github.com/KlausMerkert/Bonsai">sourcecode on GitHub</a>. If you find a bug please
                report it to our <a href="https://github.com/KlausMerkert/Bonsai/issues">issue tracker</a> or if that is
                too complicated for you
                write an email to <a href="mailto:klaus@merkert.info">klaus@merkert.info</a>.</p>

            <p lang="en">Bonsai is based on <a href="https://angularjs.org/">AngularJs</a> and you are free to <a
                    ng-href="/development/#installation">install it on your
                own server</a>.</p>

            <p lang="en">Bonsai is available in English and <a href="http://bonsai.pinyto.de">German</a>. If you are
                missing your
                language, help us by <a ng-href="/development/translation/">adding your translation</a>.</p>
        </div>
    </div>

    <div class="pagebar">
        <div class="textwidth">
            <p lang="en">Bonsai is maintained by <a href="https://github.com/KlausMerkert">Klaus Merkert</a>
                together with <a href="http://www.inf-schule.de/">inf-schule</a> and funded by
                <a href="http://fit.informatik.uni-kl.de/">Verein zur Förderung der Informatik (FIT) </a>.
                If you have any questions do not hesitate to <a href="mailto:klaus@merkert.info">contact us</a>.
            </p><h4>Developers, Designers and Translators:</h4>
            <ul>
                <li><a href="https://github.com/KlausMerkert">Klaus Merkert</a></li>
                <li><a href="http://johannes.merkert.info">Johannes Merkert</a></li>
                <li>...</li>
            </ul>
        </div>
    </div>

    <div style="width: 300px; height: 400px; background: url('/images/Bonsai-logo-topf.svg') no-repeat; margin: 0.6em auto;"></div>
</div>