<div>
    <ul class="tabs">
        <li class="settings-wheel" ng-click="toggleEditMode()"></li>
        <li style="margin-right: 0.5em;"></li>
        <li ng-class="{'active': !selectedEditor}">
            <span class="start"></span>
            <span class="content" ng-click="selectEditor(undefined)"><a href="" data-i18n="_CpuView_"></a></span>
            <span class="end"></span>
        </li>
        <li ng-repeat="editor in cpu.memories" ng-class="{'active': selectedEditor === $index + 1}">
            <span class="start"></span>
            <span class="content" ng-click="selectEditor($index + 1)"><a href="">{{ editor.name }}</a></span>
            <span class="end"></span>
        </li>
    </ul>
    <div class="toolbar" ng-show="editMode">
        <button type="button" ng-click="saveCpu()" data-i18n="_saveCpuButton_">save CPU to file</button>
        <button type="button" ng-click="clearCpu()" data-i18n="_clearCpuButton_">clear CPU</button>
        <input type="file" id="cpu-filename"
               ng-model="editor.filename"
               ng-change="loadCpu()" />
    </div>
    <div class="components pane" ng-show="!selectedEditor">
        <div ng-repeat="bus in cpu.buses">
            <bus bus="bus.object" bus-name="{{bus.name}}" max-value="bus.max" base="bus.base"
                 color="bus.color" top="bus.top" left="bus.left" routes="bus.routes"></bus>
        </div>
        <div ng-repeat="switch in cpu.manualswitches">
            <manualswitch wire="switch.wire" switch-name="{{switch.name}}" value="switch.value"
                          top="switch.top" left="switch.left"></manualswitch>
        </div>
        <div ng-repeat="clock in cpu.clocks">
            <clock wire="clock.wire" run-wire="clock.runWire" clock-name="{{clock.name}}" frequency="clock.frequency"
                   top="clock.top" left="clock.left"></clock>
        </div>
        <div ng-repeat="led in cpu.leds">
            <led wire="led.wire" led-name="{{led.name}}" value="led.value" top="led.top" left="led.left"></led>
        </div>
        <div ng-repeat="andGate in cpu.andGates">
            <andgate in-a="andGate.inA" in-b="andGate.inB" out="andGate.out" gate-name="{{andGate.name}}"
                     top="andGate.top" left="andGate.left"></andgate>
        </div>
        <div ng-repeat="orGate in cpu.orGates">
            <orgate in-a="orGate.inA" in-b="orGate.inB" out="orGate.out" gate-name="{{orGate.name}}"
                     top="orGate.top" left="orGate.left"></orgate>
        </div>
        <div ng-repeat="norGate in cpu.norGates">
            <norgate in-a="norGate.inA" in-b="norGate.inB" out="norGate.out" gate-name="{{norGate.name}}"
                     top="norGate.top" left="norGate.left"></norgate>
        </div>
        <div ng-repeat="register in cpu.registers">
            <register register-name="{{register.name}}" value="register.value" max-value="register.maxValue"
                      base="register.base" top="register.top" left="register.left"
                      inc-wire="register.incWire" dec-wire="register.decWire" clr-wire="register.clrWire">
                <div ng-repeat="gate in register.gates">
                    <gate bus="gate.bus" initial-state="gate.initialState"
                          set-write="gate.writeWire" set-read="gate.readWire"></gate>
                </div>
            </register>
        </div>
        <div ng-repeat="bitregister in cpu.bitregisters">
            <bitregister register-name="{{bitregister.name}}" value="bitregister.value"
                         set-wires-read="bitregister.wiresReadWire" set-wires-write="bitregister.wiresWriteWire"
                         top="bitregister.top" left="bitregister.left">
                <widegate bus="bitregister.widegate.bus" initial-state="bitregister.widegate.initialState"
                          set-read="bitregister.widegate.readWire"
                          set-write="bitregister.widegate.writeWire"></widegate>
                <div ng-repeat="wiregate in bitregister.wiregates">
                    <wiregate wire="wiregate.wire"></wiregate>
                </div>
            </bitregister>
        </div>
        <div ng-repeat="memory in cpu.memories">
            <memory memory-name="{{memory.name}}" base="memory.base"
                    undefined-string="memory.undefinedString" show-context="memory.showContext"
                    top="memory.top" left="memory.left" content="memory.content">
                <addressgate bus="memory.addressgate.bus" initial-state="memory.addressgate.initialState"
                             set-read="memory.addressgate.readWire"></addressgate>
                <datagate bus="memory.datagate.bus" initial-state="memory.datagate.initialState"
                          set-write="memory.datagate.writeWire" set-read="memory.datagate.readWire"></datagate>
            </memory>
        </div>
        <div ng-repeat="comp in cpu.zerocomparators">
            <comparetozero comp-name="{{comp.name}}" bus="comp.bus" wire="comp.wire"
                           top="comp.top" left="comp.left"></comparetozero>
        </div>
        <div ng-repeat="delay in cpu.delays">
            <delay delay-name="{{delay.name}}" bus-left="delay.busLeft" bus-right="delay.busRight"
                   delay="delay.delay" top="delay.top" left="delay.left"></delay>
        </div>
        <div ng-repeat="filter in cpu.filters">
            <filter filter-name="{{filter.name}}" bus-left="filter.busLeft" bus-right="filter.busRight"
                    statement="filter.statement" top="filter.top" left="filter.left"></filter>
        </div>
        <div ng-repeat="label in cpu.labels" style="position: absolute;"
             ng-style="{'top': label.top + 'px', 'left': label.left + 'px'}">{{ label.text }}</div>
    </div>
    <div class="editor pane" ng-repeat="editor in cpu.memories"
         ng-show="selectedEditor === $index + 1" style="position: relative;">
        <label for="content-{{editor.name}}">{{ editor.name }}</label>
        <button type="button" ng-click="saveFile($index)">Als Datei speichern</button>
        <input type="file" id="filename-{{editor.name}}"
               ng-model="editor.filename"
               ng-change="readFile($index)" />
        <div style="position: absolute; top: 28px; overflow: hidden; ">
            <div style="position: relative; top: 0; height: 240px;">
                <div ng-repeat="line in splitLines(editor.content) track by $index"
                     class="line-number">{{ $index }}</div>
            </div>
        </div>
        <textarea style="position: absolute; top: 25px; left: 1.5em; white-space: nowrap; overflow: auto;"
                  onscroll="this.previousSibling.previousSibling.firstChild.nextSibling.style.top = -this.scrollTop + 'px'"
                  name="content-{{editor.name}}" id="content-{{editor.name}}"
                  ng-model="editor.content">{{ editor.content }}</textarea>
    </div>

    <div>
        <h2 data-i18n="_errors_" style="display: inline-block;">Errors:</h2>
        <a ng-click="errors = []" ng-show="errors.length > 0"
           data-i18n="_clearErrors_" href="" style="font-size: 60%; margin-left: 2em;"></a>
    </div>
    <p ng-repeat="error in errors">
        <span data-i18n="{{ error.localization }}beginning"></span>
        <span style="font-style: italic;">{{ error.actor1 }}</span>
        <span data-i18n="{{ error.localization }}middle"></span>
        <span style="font-style: italic;">{{ error.actor2 }}</span>
        <span data-i18n="{{ error.localization }}end"></span>
    </p>
</div>