<div>
    <h1>Bonsai</h1>

    <div class="components">
        <bus bus="dataBus" color="'rgb(0, 140, 0)'" top="0.15" left="5"></bus>
        <bus bus="adressBus" color="'rgb(0, 0, 225)'" top="6.35" left="12"></bus>
        <register value="123456" top="2" left="1">
            <connection bus="dataBus"></connection>
        </register>
        <register value="234567" top="4" left="8">
            <connection bus="dataBus"></connection>
            <connection bus="adressBus"></connection>
        </register>
        <register value="345678" top="3" left="15">
            <connection bus="dataBus"></connection>
            <connection bus="adressBus"></connection>
        </register>
    </div>

    <div>
        <h2 data-i18n="_errors_" style="display: inline-block;">Errors</h2>
        <a ng-click="errors = []" ng-show="errors.length > 0"
           data-i18n="_clearErrors_" href="" style="font-size: 60%; margin-left: 2em;"></a>
    </div>
    <p ng-repeat="error in errors">
        <span ng-if="error.name == 'NotEnrolledReadException' || error.name == 'NotEnrolledWriteException'">
            {{ error.tryer }}
        </span>
        <span data-i18n="{{ error.localization }}"></span>
        <span ng-if="error.name == 'BusOccupiedException'">{{ error.busNo }}</span>
    </p>
    <hr />
    <object data="images/CPU_Schema.svg" width="642" height="350" type="image/svg+xml"></object>
</div>