<div>
    <ul class="tabs">
        <li class="settings-wheel" ng-click="toggleEditMode()"></li>
        <li style="margin-right: 0.5em;"></li>
        <li ng-class="{'active': !selectedEditor}">
            <span class="start"></span>
            <span class="content" ng-click="selectEditor(undefined)">
                <a style="cursor: pointer;" data-i18n="_CpuView_">Circuit</a>
            </span>
            <span class="end"></span>
        </li>
        <li ng-repeat="editor in cpu.memories" ng-class="{'active': selectedEditor === $index + 1}">
            <span class="start"></span>
            <span class="content" ng-click="selectEditor($index + 1)">
                <a style="cursor: pointer;">{{ getI18nName(editor) }}</a>
            </span>
            <span class="end"></span>
        </li>
    </ul>
    <div class="toolbar" ng-show="editMode" ng-mousedown="$event.preventDefault();">
        <!--<button type="button" ng-click="clearCpu()" data-i18n="_clearCpuButton_">clear CPU</button>-->
        <button type="button" ng-click="saveCpu()" class="save-button" style="margin: 1px; float: left;"></button>
        <button type="button" ng-click="openFilePicker($event)" class="load-button" style="margin: 1px; float: left;"></button>
        <input type="file" class="cpu-filename" style="display: none;"
               ng-model="cpuFileName"
               onchange="angular.element(this).scope().loadCpu()" />
        <span style="position: relative; top: -2px; float: right; margin: 1px;">({{ MouseX }}, {{ MouseY }})</span>
    </div>
    <div class="components pane" ng-show="!selectedEditor" ng-mousemove="getMousePosition($event)">
        <div ng-repeat="bus in cpu.buses">
            <bus bus="bus.object" bus-name="{{bus.name}}" max-value="bus.max" base="bus.base"
                 color="bus.color" top="bus.top" left="bus.left" routes="bus.routes"></bus>
        </div>
        <div ng-repeat="switch in cpu.digiSwitches">
            <digiswitch wire="switch.wire" switch-name="{{switch.name}}" value="switch.value"
                        top="switch.top" left="switch.left" color="switch.color"></digiswitch>
        </div>
        <div ng-repeat="andGate in cpu.digiAndGates">
            <digiandgate in-a="andGate.inA" in-b="andGate.inB" out="andGate.out" gate-name="{{andGate.name}}"
                         label="andGate.label" 
                         toplabel="andGate.toplabel" leftlabel="andGate.leftlabel" fontsize="andGate.fontsize" circle="andGate.circle"                         
                         top="andGate.top" left="andGate.left"></digiandgate>
        </div>
        <div ng-repeat="orGate in cpu.digiOrGates">
            <digiorgate in-a="orGate.inA" in-b="orGate.inB" out="orGate.out" gate-name="{{orGate.name}}"
                         label="orGate.label" 
                         toplabel="orGate.toplabel" leftlabel="orGate.leftlabel" fontsize="orGate.fontsize" circle="orGate.circle"                         
                         top="orGate.top" left="orGate.left"></digiorgate>
        </div>
         <div ng-repeat="nandGate in cpu.digiNandGates">
            <diginandgate in-a="nandGate.inA" in-b="nandGate.inB" out="nandGate.out" gate-name="{{nandGate.name}}"
                         label="nandGate.label" 
                         toplabel="nandGate.toplabel" leftlabel="nandGate.leftlabel" fontsize="nandGate.fontsize" circle="nandGate.circle"
                         top="nandGate.top" left="nandGate.left"></diginandgate>
        </div>
         <div ng-repeat="norGate in cpu.digiNorGates">
            <diginorgate in-a="norGate.inA" in-b="norGate.inB" out="norGate.out" gate-name="{{norGate.name}}"
                         label="norGate.label" 
                         toplabel="norGate.toplabel" leftlabel="norGate.leftlabel" fontsize="norGate.fontsize" circle="norGate.circle"                         
                         top="norGate.top" left="norGate.left"></diginorgate>
        </div>
        <div ng-repeat="exorGate in cpu.digiExorGates">
            <digiexorgate in-a="exorGate.inA" in-b="exorGate.inB" out="exorGate.out" gate-name="{{exorGate.name}}"
                         label="exorGate.label" 
                         toplabel="exorGate.toplabel" leftlabel="exorGate.leftlabel" fontsize="exorGate.fontsize" circle="exorGate.circle"                         
                         top="exorGate.top" left="exorGate.left"></digiexorgate>
        </div>
        <div ng-repeat="haGate in cpu.digiHAGates">                                                       
            <digihagate in-a="haGate.inA" in-b="haGate.inB" out-s="haGate.outS" out-ue="haGate.outUe" gate-name="{{haGate.name}}"
                         label="haGate.label" 
                         toplabel="haGate.toplabel" leftlabel="haGate.leftlabel" fontsize="haGate.fontsize"                      
                         top="haGate.top" left="haGate.left"></digihagate>
        </div>
        <div ng-repeat="faGate in cpu.digiFAGates">                                                       
            <digifagate in-a="faGate.inA" in-b="faGate.inB" in-c="faGate.inC" out-s="faGate.outS" out-ue="faGate.outUe" gate-name="{{faGate.name}}"
                         label="faGate.label" 
                         toplabel="faGate.toplabel" leftlabel="faGate.leftlabel" fontsize="faGate.fontsize"                      
                         top="faGate.top" left="faGate.left"></digifagate>
        </div>
        <div ng-repeat="notGate in cpu.digiNotGates">
            <diginotgate in-a="notGate.inA" out="notGate.out" gate-name="{{notGate.name}}"
                         label="notGate.label" 
                         toplabel="notGate.toplabel" leftlabel="notGate.leftlabel" fontsize="notGate.fontsize" circle="notGate.circle"                         
                         top="notGate.top" left="notGate.left"></diginotgate>
        </div>
        <div ng-repeat="switch in cpu.manualswitches">
            <manualswitch wire="switch.wire" switch-name="{{switch.name}}" value="switch.value"
                          top="switch.top" left="switch.left" color="switch.color"></manualswitch>
        </div>
        <div ng-repeat="clock in cpu.clocks">
            <clock wire="clock.wire" run-wire="clock.runWire" clock-name="{{clock.name}}" frequency="clock.frequency"
                   top="clock.top" left="clock.left"></clock>
        </div>
        <div ng-repeat="led in cpu.leds">
            <led wire="led.wire" led-name="{{led.name}}" value="led.value"
                 top="led.top" left="led.left" color="led.color"></led>
        </div>
        <div ng-repeat="andGate in cpu.andGates">
            <andgate in-a="andGate.inA" in-b="andGate.inB" out="andGate.out" gate-name="{{andGate.name}}"
                     top="andGate.top" left="andGate.left"></andgate>
        </div>
        <div ng-repeat="orGate in cpu.orGates">
            <orgate in-a="orGate.inA" in-b="orGate.inB" out="orGate.out" gate-name="{{orGate.name}}"
                     top="orGate.top" left="orGate.left"></orgate>
        </div>
        <div ng-repeat="nandGate in cpu.nandGates">
            <nandgate in-a="nandGate.inA" in-b="nandGate.inB" out="nandGate.out" gate-name="{{nandGate.name}}"
                     top="nandGate.top" left="nandGate.left"></nandgate>
        </div>
        <div ng-repeat="norGate in cpu.norGates">
            <norgate in-a="norGate.inA" in-b="norGate.inB" out="norGate.out" gate-name="{{norGate.name}}"
                     top="norGate.top" left="norGate.left"></norgate>
        </div>
        <div ng-repeat="register in cpu.registers">
            <register register-name="{{register.name}}" value="register.value" max-value="register.maxValue"
                      base="register.base" top="register.top" left="register.left"
                      inc-wire="register.incWire" dec-wire="register.decWire" clr-wire="register.clrWire">
                <div ng-repeat="gate in register.gates">
                    <gate bus="gate.bus" initial-state="gate.initialState"
                          set-write="gate.writeWire" set-read="gate.readWire"></gate>
                </div>
            </register>
        </div>
        <div ng-repeat="bitregister in cpu.bitregisters">
            <bitregister register-name="{{bitregister.name}}" value="bitregister.value"
                         set-wires-read="bitregister.wiresReadWire" set-wires-write="bitregister.wiresWriteWire"
                         wire-gate-state="bitregister.wireGateState"
                         bit-width="bitregister.bitWidth" top="bitregister.top" left="bitregister.left">
                <widegate bus="bitregister.widegate.bus" initial-state="bitregister.widegate.initialState"
                          set-read="bitregister.widegate.readWire"
                          set-write="bitregister.widegate.writeWire"></widegate>
                <div ng-repeat="wiregate in bitregister.wiregates">
                    <wiregate wire="wiregate.wire"></wiregate>
                </div>
            </bitregister>
        </div>
        <div ng-repeat="memory in cpu.memories">
            <memory memory-name="{{memory.name}}" base="memory.base"
                    undefined-string="memory.undefinedString" show-context="memory.showContext"
                    top="memory.top" left="memory.left" content="memory.content">
                <addressgate bus="memory.addressgate.bus" initial-state="memory.addressgate.initialState"
                             set-read="memory.addressgate.readWire"></addressgate>
                <datagate bus="memory.datagate.bus" initial-state="memory.datagate.initialState"
                          set-write="memory.datagate.writeWire" set-read="memory.datagate.readWire"></datagate>
            </memory>
        </div>
        <div ng-repeat="comp in cpu.zerocomparators">
            <comparetozero comp-name="{{comp.name}}" bus="comp.bus" wire="comp.wire"
                           top="comp.top" left="comp.left"></comparetozero>
        </div>
        <div ng-repeat="delay in cpu.delays">
            <delay delay-name="{{delay.name}}" bus-left="delay.busLeft" bus-right="delay.busRight"
                   delay="delay.delay" direction="delay.direction"
                   top="delay.top" left="delay.left"></delay>
        </div>
        <div ng-repeat="filter in cpu.filters">
            <filter filter-name="{{filter.name}}" bus-left="filter.busLeft" bus-right="filter.busRight"
                    statement="filter.statement" direction="filter.direction"
                    top="filter.top" left="filter.left"></filter>
        </div>
        <div ng-repeat="label in cpu.labels" style="position: absolute; font-size: 16px;"
             ng-style="{'top': label.top + 'px', 'left': label.left + 'px'}">
            <div style="position: relative;"
                 ng-style="{'top': getI18nTopOffset(label) + 'px', 'left': getI18nLeftOffset(label) + 'px'}">
                {{ getI18nText(label) }}
            </div>
        </div>
    </div>
    <div class="editor pane" ng-repeat="editor in cpu.memories"
         ng-show="selectedEditor === $index + 1" style="position: relative;">
        <div style="line-height: 20px; max-height: 20px; margin-top: 2px;">
            <label for="content-{{editor.name}}"
                   style="margin: 0 6px 0 2px; height: 20px; line-height: 20px; overflow: visible; display: inline-block;">
                {{ editor.name }}
            </label>
            <div style="display: inline-block; height: 20px; width: 68px; position: absolute;">
                <button type="button" ng-click="saveFile($index)" class="save-button"
                        style="position: absolute; top: 0; left: 0;"></button>
                <button type="button" ng-click="openFilePickerForMemory(editor.name, $index)" class="load-button"
                        style="position: absolute; top: 0; left: 24px;"></button>
                <button type="button" ng-show="hasBinaryProgram()" class="compile-button"
                        style="position: absolute; top: 0; left: 48px;" ng-click="loadFromAssembler($index)">
                </button>
            </div>
            <input type="file" id="filename-{{editor.name}}" style="display: none;"
                   ng-model="editor.filename"
                   onchange="angular.element(this).scope().readFile()" />
        </div>
        <div style="position: absolute; top: 28px; overflow: hidden; ">
            <div style="position: relative; top: 0; height: 240px;">
                <div ng-repeat="line in splitLines(editor.content) track by $index"
                     class="line-number">{{ $index }}</div>
            </div>
        </div>
        <textarea style="position: absolute; top: 25px; left: 1.5em; overflow: auto;"
                  onscroll="this.previousSibling.previousSibling.firstChild.nextSibling.style.top = -this.scrollTop + 'px'"
                  name="content-{{editor.name}}" id="content-{{editor.name}}"
                  ng-model="editor.content">{{ editor.content }}</textarea>
    </div>

    <div class="error-console">
        <div>
            <h2 data-i18n="_errors_" style="display: inline-block;">Errors:</h2>
            <a ng-click="errors = []" ng-show="errors.length > 0"
               data-i18n="_clearErrors_" href="" style="font-size: 60%; margin-left: 2em;"></a>
        </div>
        <ul style="padding: 0; margin: 0;">
            <li ng-repeat="error in errors" ng-style="{'background-color': $even ? 'rgb(214, 214, 214)' : 'inherited'}">
                <span data-i18n="{{ error.localization }}beginning"></span>
                <span style="font-style: italic;">{{ error.actor1 }}</span>
                <span data-i18n="{{ error.localization }}middle"></span>
                <span style="font-style: italic;">{{ error.actor2 }}</span>
                <span data-i18n="{{ error.localization }}end"></span>
            </li>
        </ul>
    </div>
</div>