<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de" ng-app="Bonsai">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <meta http-equiv="Content-Script-Type" content="text/javascript"/>

    <title data-i18n="_bonsai_">Bonsai</title>

    <link rel="stylesheet" href="/css/bonsai.css"/>
    <link rel="stylesheet" href="/css/fonts.css"/>
    <link rel="stylesheet" href="/css/components.css"/>
    <link rel="stylesheet" href="/css/assembler.css"/>
    <link rel="stylesheet" href="/css/page.css"/>

    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="/lib/angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="/lib/localize.js"></script>
    <script type="text/javascript" src="/js/models/exceptions.js"></script>
    <script type="text/javascript" src="/js/models/ReadingControlWireConnector.js"></script>
    <script type="text/javascript" src="/js/models/Register.js"></script>
    <script type="text/javascript" src="/js/models/BitRegister.js"></script>
    <script type="text/javascript" src="/js/models/Memory.js"></script>
    <script type="text/javascript" src="/js/models/Bus.js"></script>
    <script type="text/javascript" src="/js/models/ManualSwitch.js"></script>
    <script type="text/javascript" src="/js/models/Clock.js"></script>
    <script type="text/javascript" src="/js/models/Led.js"></script>
    <script type="text/javascript" src="/js/models/AndGate.js"></script>
    <script type="text/javascript" src="/js/models/OrGate.js"></script>
    <script type="text/javascript" src="/js/models/NorGate.js"></script>
    <script type="text/javascript" src="/js/models/NandGate.js"></script>
    <script type="text/javascript" src="/js/models/ExorGate.js"></script>
    <script type="text/javascript" src="/js/models/NotGate.js"></script>
    <script type="text/javascript" src="/js/models/CompareToZero.js"></script>
    <script type="text/javascript" src="/js/models/Delay.js"></script>
    <script type="text/javascript" src="/js/models/Filter.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/services/exampleService.js"></script>
    <script type="text/javascript" src="/js/services/binaryProgramService.js"></script>
    <script type="text/javascript" src="/js/services/counterService.js"></script>
    <script type="text/javascript" src="/js/helpers/BusRouter.js"></script>
    <script type="text/javascript" src="/js/helpers/BusMatcher.js"></script>
    <script type="text/javascript" src="/js/helpers/numberConverter.js"></script>
    <script type="text/javascript" src="/js/helpers/fileSaver.js"></script>
    <script type="text/javascript" src="/js/helpers/ExampleGenerator.js"></script>
    <script type="text/javascript" src="/js/directives/slider.js"></script>
    <script type="text/javascript" src="/js/directives/gate-state.js"></script>
    <script type="text/javascript" src="/js/directives/gate-read-flank-write-state.js"></script>
    <script type="text/javascript" src="/js/directives/bit-gate-state.js"></script>
    <script type="text/javascript" src="/js/directives/register.js"></script>
    <script type="text/javascript" src="/js/directives/bitregister.js"></script>
    <script type="text/javascript" src="/js/directives/memory.js"></script>
    <script type="text/javascript" src="/js/directives/bus.js"></script>
    <script type="text/javascript" src="/js/directives/manual-switch.js"></script>
    <script type="text/javascript" src="/js/directives/clock.js"></script>
    <script type="text/javascript" src="/js/directives/led.js"></script>
    <script type="text/javascript" src="/js/directives/digi-switch.js"></script>
    <script type="text/javascript" src="/js/directives/digi-and-gate.js"></script>
    <script type="text/javascript" src="/js/directives/digi-or-gate.js"></script>
    <script type="text/javascript" src="/js/directives/digi-nand-gate.js"></script>
    <script type="text/javascript" src="/js/directives/digi-nor-gate.js"></script>
    <script type="text/javascript" src="/js/directives/digi-exor-gate.js"></script>
    <script type="text/javascript" src="/js/directives/digi-not-gate.js"></script>
    <script type="text/javascript" src="/js/directives/and-gate.js"></script>
    <script type="text/javascript" src="/js/directives/or-gate.js"></script>
    <script type="text/javascript" src="/js/directives/nor-gate.js"></script>
    <script type="text/javascript" src="/js/directives/compare-to-zero.js"></script>
    <script type="text/javascript" src="/js/directives/delay.js"></script>
    <script type="text/javascript" src="/js/directives/filter.js"></script>
    <script type="text/javascript" src="/js/directives/simulation.js"></script>
    <script type="text/javascript" src="/js/controllers/cpuCtrl.js"></script>
    <script type="text/javascript" src="/js/controllers/assemblerCtrl.js"></script>
    <script type="text/javascript" src="/js/controllers/pageCtrl.js"></script>
    <script type="text/javascript" src="/js/helpers/parallax.js"></script>
</head>
<body ng-class="{'background': menu.length > 0}">
    <div id="parallaxbackgroundone" ng-show="menu"></div>
    <div id="parallaxbackgroundtwo" ng-show="menu"></div>
    <div ng-show="menu" style="position: absolute; top: 0; left: 0; width: 100%; height: 55px; background-color: rgb(248, 248, 248);">
        <div style="float: right; font-size: 80%;">
            <span data-i18n="_language_">Sprache: </span>
            <ul style="display: inline-block; margin: 0 0 0 0.5em; padding: 0;">
                <li ng-repeat="lang in getLanguages()" ng-click="setLanguage(lang)"
                    onmousedown="event.preventDefault()"
                    style="list-style-type: none; display: inline-block; margin-right: 0.5em;">
                    <a style="cursor: pointer;" ng-class="{'selected-lang': language == lang}">{{ lang }}</a>
                </li>
            </ul>
        </div>
        <div style="float: left;">
            <a ng-href="/">
                <span id="logo"></span>
            </a>
            <span style="color: rgb(154, 52, 84);" id="main-title">Bonsai</span>
        </div>
        <div style="position: absolute; bottom: -1px; left: 50%; overflow: visible;">
            <div style="position: relative; left: -50%; white-space: nowrap;">
                <ul class="tabs">
                    <li ng-repeat="item in menu" ng-class="{'active': item.link == currentPath}">
                        <span class="start"></span>
                        <span class="content">
                            <a ng-if="item.link != currentPath" ng-href="{{ item.link }}">
                                <span data-i18n="{{ item.title }}"></span>
                            </a>
                            <span ng-if="item.link == currentPath"
                                  data-i18n="{{ item.title }}"></span>
                        </span>
                        <span class="end"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div ng-show="menu" style="width: 100%; background-color: rgb(170, 170, 170); position: absolute; top: 55px; left: 0; z-index: 3;">
        <div style="padding: 0;" class="textarea textwidth">
            <span style="font-size: 80%;" data-i18n="_path_">Pfad:</span>
            <span class="path"><a ng-href="/">Bonsai</a>
            <span ng-repeat="pathPart in navigationPath">/<a ng-if="pathPart.link != currentPath"
                ng-href="{{ pathPart.link }}" data-i18n="{{ pathPart.title }}"></a><span class="pathCurrent"
                ng-if="pathPart.link == currentPath" data-i18n="{{ pathPart.title }}"></span></span></span>
        </div>
    </div>
    <div ng-view style="position: relative;" ng-style="{'top': menu.length > 0 ? '85px' : '0'}" class="textarea"></div>
    <div id="footer" ng-show="menu">
        <div style="float: left;"><a ng-href="/imprint/" data-i18n="_impressum_">Impressum</a></div>
        <div ng-show="viewsCount">{{ viewsCount }} <span data-i18n="_views_">Aufrufe</span></div>
        <div ng-show="lastChange">
            <span data-i18n="_lastChange_">Letzte Änderung dieser Seite: </span>
            <span ng-show="language == 'de'">{{ lastChange | date : "d.M.yyyy h:mm:ss" }}</span>
            <span ng-hide="language == 'de'">{{ lastChange | date : "medium" }}</span>
        </div>
        <div ng-show="author"><span data-i18n="_author_">Autor: </span>{{ author }}</div>
        <div ng-hide="author">kein Autor</div>
        <div style="float: none; clear: both;"></div>
    </div>
</body>
</html>